<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    @RenderSection("head",false)
    <title>MarcStore</title>
    <style>
        * {
            box-sizing: border-box;
        }
  
        /* Style the search field */
        form.mySearch input[type=text] {
            padding: 4px;
            font-size: 15px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        /* Style the submit button */
        form.mySearch button {
            float: left;
            width: 20%;
            padding: 2.8px;
            background: #575757;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none; /* Prevent double borders */
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        /* Clear floats */
        form.mySearch::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
    @RenderSection("Styles", false)
</head>
<body style="overflow-x:hidden; ">
    <div class="navbar navbar-inverse" role="navigation" style="height:30px">
        <a class="navbar-brand" asp-action="List" asp-controller="Product">Marc Store</a>


        <div class="pull-right" style="margin:10px">
            @if (User.Identity.IsAuthenticated)
            {
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                {
                    <button type="submit" style="height:30px;width:32px" title="Log Out">
                        <i class="fas fa-sign-out-alt"></i>
                    </button>
                }
                <div>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Menu" asp-controller="Admin" title="Menu For Admin!">
                            <button style="height:30px;width:32px;position: relative; right: 40px;bottom: 30px">
                                <i class="fas fa-toolbox"></i>
                            </button>
                        </a>
                    }
                </div>
            }
            else
            {
                <a asp-action="Login" asp-controller="Account" title="Login">
                    <button style="height:30px;width:32px" type="button">
                        <i class="fas fa-sign-in-alt"></i>
                    </button>
                </a>
            }
        </div>
        <div class="pull-right" id="CartStyle" @*style="position:relative;right:37px" *@>
            @await Component.InvokeAsync("CartSummary")
        </div>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            <form asp-action="ProductSearch" asp-controller="Product" class="mySearch" style="margin:auto;max-width:300px" method="post">
                <input type="text" placeholder="Search name.." name="productName">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            @await Component.InvokeAsync("NavigationMenu")
        </div>

        <div class="col-xs-8">
            @RenderBody()

        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            var element = document.getElementById("CartStyle");
            element.style.position = "relative";
            element.style.right = "37px";

        </script>
    }
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    @*<script type="text/javascript">
            window.__lc = window.__lc || {};
            window.__lc.license = 10055468;
            (function () {
                var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
                lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
            })();
        </script>
        <noscript>
            <a href="https://www.livechatinc.com/chat-with/10055468/">Chat with us</a>
        </noscript>*@
    <!-- End of LiveChat code -->
</body>
</html>
