<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <title>MarcStore</title>

</head>
<body style="overflow-x:hidden; ">
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="http://localhost:56295">SPORTS STORE</a>

        <div class="pull-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
        <div class="pull-right center-block" style="margin:10px">
            @if (User.Identity.IsAuthenticated)
            {
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                {
                    <button type="submit" class="btn btn-sm btn-primary pull-right">Log Out</button>
                }
                <div style="position:relative;bottom:30px;right:80px">
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Menu">Menu*</a>
                    }
                </div>
            }
            else
            {
                <a class="btn btn-sm btn-primary pull-right " asp-action="Login" asp-controller="Account">Log In</a>
            }
        </div>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @await Component.InvokeAsync("NavigationMenu")
        </div>

        <div class="col-xs-8">
            @RenderBody()
           
        </div>
    </div>
</body>
</html>
