@model LoginModel


@if(ViewBag.ItIframe == null || !ViewBag.ItIframe)
{
    Layout = "_Layout";
}
else
{
    <base target="_self" />
    Layout = null;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
}

<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control form-group" style="width:50%" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control form-group" style="width:50%" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Remember</label>
        <input asp-for="RememberMe" class="form-check-input" />
    </div>
    <div>
        <input type="submit" class="btn btn-primary btn-group" value="Login" asp-route-ItIframe=@ViewBag.ItIframe/>
        <a class="btn btn-primary btn-group" asp-action="Register" asp-route-ItIframe=@ViewBag.ItIframe>Register</a>
    </div>
</form>
