@model RegisterModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Register Page";
}
@section head{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
}

<h2 class="h2">Register</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control form-group" style="width:50%" />
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="Year"></label><br />
        <input asp-for="Year" class="form-control form-group" style="width:50%" />
        <div><span asp-validation-for="Year" class="text-danger"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control form-group" style="width:50%" />
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="form-control form-group" style="width:50%" />
        <div><span asp-validation-for="PasswordConfirm" class="text-danger"></span></div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}


