@{
    Layout = null;
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
}
<h2 style="color:red" class="h2">Successfully</h2>
<a asp-controller="Product" asp-action="List" target="_parent" class="btn btn-success" style="margin:40px">Close</a>