@model IEnumerable<Product>
<div id="searchresults">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            @Html.Partial("ProductSummary", item)
        }
    }
    else
    {
       <h2 class="alert-warning">Not Found</h2>
    }

</div>